body {
  margin: 0;
}

/*-- NAVBAR CONTENT --*/
.nav-content {
  background-color: #B59822;
  padding: 60px;
  
}

.dropbtn, .simp-btn {
    background-color: #2B6684;
    color: #F7F6ED;
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-color: #1b4053;
    padding: 15px 30px;
    text-decoration: none;
    float: left;
    margin-top: -24px;
    margin-right: 60px;
    cursor: pointer;
  }
  
  .dropbtn:hover, .simp-btn:hover {
    background-color: #BD3529;
    border-color: #751f18;
  }
  
  .dropdown-content {
    display: none;
    border: none;
    position: absolute;
    width: 124px;
    margin-top: 28px;
    overflow: auto;
    background-color: #F7F6ED;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .e-btn {
    background-color: #2B6684;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 7px 0 0 7px;
    width: 110px;
    border-style: solid;
    border-color:#1b4053;
    color: #F7F6ED;
  }

  .m-btn {
    background-color: #B59822;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 7px 0 0 7px;
    width: 110px;
    border-style: solid;
    border-color:#816d1a;
    color: #F7F6ED;
  }

  .h-btn {
    background-color: #BD3529;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 7px 0 7px 7px;
    width: 110px;
    border-style: solid;
    border-color: #751f18;
    color: #F7F6ED;
  }
  

  .show {display: grid;}

  /*-- NAVBAR CONTENT END --*/