@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  background-color: #cfd358;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: 0;
}

/*-- NAVBAR CONTENT --*/
.nav-content{
  background-color: #16161670;
  padding: 40px;
}

.dropbtn, .simp-btn {
    background-color: #D358CF;
    color: #F7F6ED;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-color: #8e188a;
    padding: 5px 15px;
    text-decoration: none;
    float: left;
    margin: -22px 30px 0 0;
    cursor: pointer;
    border-radius: 10%;
  }

  .set-btn {
    background-color: #D358CF;
    color: #F7F6ED;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-color: #8e188a;
    padding: 5px 15px;
    text-decoration: none;
    float: right;
    margin-top: -24px;
    cursor: pointer;
    border-radius: 10%;
  }
  
  .dropbtn:hover, .simp-btn:hover, .set-btn:hover{
    background-color: #e508de;
  }
  
  .diff-dropdown-content {
    display: none;
    border: none;
    position: absolute;
    width: 100px;
    margin: 21px 0 0 14px;
    overflow: auto;
    background-color: #F7F6ED;
    box-shadow: 0px 8px 16px 0px #2b6684;;
    z-index: 1;
  }

  .ham-dropdown-content {
    display: none;
    border: none;
    position: absolute;
    width: 100px;
    margin: 17px 0 0 286px;
    overflow: auto;
    background-color: #F7F6ED;
    box-shadow: 0px 8px 16px 0px #2b6684;;
    z-index: 1;
  }

  .e-btn, .insbtn, .m-btn, .h-btn, .setbtn{
    padding: 5px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 20px;
  }

  .e-btn:hover, .insbtn:hover, .m-btn:hover, .h-btn:hover, .setbtn:hover {
    background-color: #CFD358;
  }

  .show {display: grid;}

  /*-- NAVBAR CONTENT END --*/

  /*-- INSTUCTIONS --*/

  .inst-info {
    display: none;
    text-align: center;
    background-color: #58cfd3;;
    margin: 23px 100px 0 100px;
    padding: 50px;
    border-radius: 2%;
    box-shadow: 2px 2px 19px 2px #090a0a;
  }
  .inst-info h1, .wel-message h1 {
    font-family: 'shadows into light', sans-serif;
    font-size: 80px;
    margin: 0;
  }
  .inst-info h2, .wel-message h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    margin: 20px 0 25px 0;
  }
  .inst-info p, .wel-message p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 0;
  }
  .inst-info button, #closeWel {
    float: right;
    background-color: #ff7f5000;
    border: none;
    font-size: 20px;
  }

  #closeInfo:hover, #closeWel:hover {
    color: #f7f6ed;
    background-color: rgb(78, 204, 162);
    border-radius: 10%;
  }
  /*--  INSTRUCTIONS END --*/

  /*--  WELCOME --*/
  
  #welcome {
    display: block;
    background-color: #58cfd3;;
    text-align: center;
    margin: 100px 100px 0 100px;
    padding: 50px;
    border-radius: 2%;
    position: sticky;
    box-shadow: 2px 2px 19px 2px #090a0a;
  }

  .startGame{
    margin-top: 10px;
  }

  .startGame, .select, #seeScores, #playagainbut{
    cursor: pointer;
    border-radius: 7%;
    color: #F7F6ED;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background-color: #4595be;
    border-color: #2b6684;
  }
   /*--  WELCOME END --*/

   i.fa-regular.fa-volume-high, i.fa-regular.fa-volume-xmark {
    font-weight: 700;
  }

   /*--  ENTER NAME --*/

  .menu {
    display: none;
    margin: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
  }
  .menu p {
    margin-top: 40px;
  }

  .playagain {
    display: none;
    text-align: center;
    margin-top: 100px;
  }
  
  .box {
    border-radius: 3px;
    border-style: solid;
    border-color: #1c1c0bb0;
    height: 26px;
  }
  /*--  ENTER NAME END --*/

  /*--  SCORES --*/

  #scores {
    text-align: center;
    font-size: x-large;
    text-transform: capitalize;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
  }

  /*--  SCORES END--*/

  /*--  CONGRATS MESSAGE --*/

  #congrats {
    display: none;
    background-color: #58cfd3;;
    text-align: center;
    padding: 50px;
    border-radius: 2%;
    position: sticky;
    z-index: 3;
    margin: -480px 100px 0 100px;
  }
  
  /*--  CONGRATS MESSAGE END --*/

  /*-- MATCHED SCORE --*/

  .score {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    margin-top: -15px;
  }

  /*-- MATCHED SCORE END --*/

  /*--  GAME --*/

  .game-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    clear: both;
  }

  ul {
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    list-style-type: none;
  }

  ul li img {
    width: 150px;
    height: 150px;
    margin: 16px;
    box-shadow: 2px 2px 19px 2px #090a0a;
    border-radius: 10px;
  }

  .e-display {
    margin-top: 174px;
    max-width: 812px;
  }

  .m-display {
    margin-top: 120px;
    max-width: 745px;
  }

  .h-display {
    margin-top: 120px;
    max-width: 950px;
  }
  
  .animate__animated, .animate__flipInY {
    --animate-duration: 0.5s;
  }

  /*--  GAME END --*/

  /*-- FOOTER --*/
  footer {
    background-color: #16161670;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0 5px 0;
  }

  .social-media {
    float: right;
    font-size: 30px;
    margin-right: 30px;
  }

  .social-media a {
    color: #f7f6ed;
    text-decoration: none;
    margin-left: 10px;
  }

  .developer {
    font-size: 30px;
    color: #f7f6ed;
    margin-left: 30px;
    display: inline-flex;
  }

  .developer h6 {
    margin: 7px 0 0 0;
    font-size: small;
  }

  .developer a {
    color: inherit;
    margin-left: 20px;
  }

/*-- FOOTER END --*/

/*-- MEDIA QUIRIES --*/

/*-- MEDIA 1024PX --*/

 @media screen and (max-width: 1024px) {
   .h-display{
     margin-top: 7px;
   }
   .e-display {
     margin-top: 105px;
   }
   .m-display {
    margin-top: 21px;
   }
 }

 /*-- MEDIA 769PX --*/
  @media screen and (max-width: 769px) {
    .dropbtn, .simp-btn {
      margin-right: 30px;
      font-size: 20px;
    }
    .nav-content{
      padding: 32px; 
    }
    .inst-info {
      padding: 20px;
      margin: 23px 50px 0 50px;
    } 
    .e-display {
      margin-top: 70px;
      max-width: 633px;
    }
    .h-display{
      margin-top: 15px;
    }
    #welcome {
      margin-top: 60px;
      padding: 28px;
    }
    footer {
      padding: 0;
    }
    ul li img {
      width: 100px;
      height: 100px;
    }
    .m-display{
      max-width: 563px;
      margin-top: -14px;
    }
    #congrats {
      margin: -379px 50px 0 50px;
    }
    .diff-dropdown-content {
      margin: 16px 0 0 9px;
    }
  }

  /*-- MEDIA 425PX --*/
  @media  screen and (max-width: 425px) {
    .nav-content {
      padding: 28px;
    }
    .dropbtn {
      margin: -17px 0 0 -11px;
      font-size: 16px;
    }
    .simp-btn {
      margin: -17px 0px 0 10px;
      font-size: 16px;
    }
    .diff-dropdown-content {
      margin: 18px 0 0 -3px;
    }
    .inst-info, #welcome {
      margin: 30px 30px 0 30px;
    }
    .inst-info h1, .wel-message h1 {
      font-size: 40px;
    }
    .inst-info h2, .wel-message h2{
      margin-top: 25px;
      font-size: 20px;
    }
    .inst-info p, .wel-message p {
      font-size: 16px;
    }
    .developer h6 {
      font-size: xx-small;
      margin-top: 15px;
    }
    .social-media a, .developer a{
      margin-left: 5px;
      font-size: 20px;
      margin-top: 10px;
    }
    .social-media {
      margin-right: 17px;
    }
    .h-display {
      margin-top: 80px;
      max-width: max-content;
    }
    ul li img {
      width: 66px;
      height: 66px;
      margin: 5px;
    }
    .e-display {
      max-width: 270px;
    }
    .m-display {
      margin-top: 70px;
      max-width: 350px;
    }
    .e-btn, .insbtn, .m-btn, .h-btn, .setbtn{
      font-size: 15px;
    }
    #congrats {
      margin-top: 305px;
      padding: 16px;
    }
    #congrats h1 {
      padding-top: 5px;
    }
    .set-btn {
      padding: 1px 7px;
      margin: -18px -12px 0 0;
    }
    #soundControl {
      font-size: 17px;
    }
    .diff-dropdown-content {
      margin: 15px 0 0 -11px;
    }
  }

  /*-- MEDIA 375PX --*/
  @media screen and (max-width: 375px) {
    .ham-dropdown-content {
      margin-left: 235px;
    }
    .diff-dropdown-content {
      margin-left: -3px;;
    } 
  }

  /*-- MEDIA 320PX --*/
  @media  screen and (max-width: 320px) {
    .ham-dropdown-content {
      margin-left: 180px;
    }
    .diff-dropdown-content {
      margin-left: -11px;
    }
    .inst-info {
      padding: 20px 10px
    }
    .developer h6 {
      display: none;
    }
    .developer a {
      margin-left: -12px;
    }
    ul li img {
      width: 60px;
      height: 60px;
    }
    #congrats h1{
      font-size: x-large;
    }
  }
  /*-- MEDIA QUIRIES END --*/